.who-we-are-container {
  background-color: #f4f1d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 100px; */
  /* animation: 2000ms fadeIn; */
  height: 100%;
}

.who-we-are-container-text {
  color: rgba(39, 39, 39, 0.85);
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  width: 70vh;
  /* or 164% */
  text-align: center;
  line-height: 40px;
  /* position: absolute; */
  /* width: 539px;
  height: 205px;
  left: 170px;
  top: 120px; */
}

.how-we-think-underdiv {
  height: 100%;
  background-color: #ffffff;
  margin-top: 40%;
  transform: skewY(-4deg);
  height: 500px;
}
