.Button2 {
  min-width: 150px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  font-family: Open Sans Semibold;
  font-size: 1.2rem;
  background-color: blue;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 20px 0;
  box-shadow: 0 3px 7px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.Button2:hover {
  background-color: #ff7b7b;
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
