.header {
  background-color: #272727;
  color: #818076;
  display: flex;
  flex-direction: row;
  padding: 20px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
}

.navbar {
  right: 1px;
  position: absolute;
}
.navbar-menu li {
  display: inline;
}

.what-we-do {
  /*left: 542px;*/
}

.how-we-think {
  /*left: 662px;*/
}

.contact {
  /*left: 782px;*/
}

.navbar-btn {
  margin: 15px;
}

.link {
  color: white;
  text-decoration: none;
}
