.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-self: center;
}
.navbar-menu {
  overflow-y: hidden;
}
.navbar-menu li {
  display: inline;
}

.navbar-btn {
  margin: 15px;
}

.link {
  color: #5f5656;
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.is-active {
  padding-bottom: 3px;
  border-bottom: 2px solid red;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}
