.header {
  background-color: #272727;
  color: #ffffff;

  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.navbar li {
  display: inline;
}

.navbar-btn {
  margin: 15px;
}

.link {
  color: white;
  text-decoration: none;
}
