.what-we-do {
  /* background-color: white; */
  height: 100%;
  width: 100%;
}

.what-we-do-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin-top: 100px; */
  /* animation: 2000ms fadeIn; */
  height: 100%;
}

.what-we-do-container-text {
  color: rgba(39, 39, 39, 0.85);
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 46px;

  text-align: center;

  /* background-color: #f4f1d0; */
  /* animation-delay: 400ms; */
}

.container-hire-us {
  background: #ff5858;
  /* opacity: 0.9; */
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
  padding: 10px 20px;
  /* margin-top: 40px; */

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.HalfWidth {
  width: 50%;
  height: 100%;
}
