.what-we-do {
  /* background-color: white; */
  height: 100%;
  width: 100%;
}

.what-we-do-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin-top: 100px; */
  /* animation: 2000ms fadeIn; */
  height: 100%;
}

.LeftSide {
  flex: 1;
  /* padding-right: 8rem; */
}

.RightSide {
  height: 100%;
  flex: 1.3;
}
