body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: hidden; */
  background-color: #f8f8f4;
  position: fixed;
  padding: 3vh 6vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url(../src/assets/fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans SemiBold";
  src: local("Open Sans SemiBold"),
    url(../src/assets/fonts/OpenSans-SemiBold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: Open Sans;
  font-size: 28px;
  text-align: start;
}

.RedQueenRed {
  color: #ff5858;
}

p {
  font-family: Open Sans;
  line-height: 2rem;
  text-align: start;
  font-size: 1.1rem;
  color: #5f5656;
  /* margin-bottom: 2rem; */
}
