body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f4;
  position: fixed;
  padding: 3vh 6vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url(../src/assets/fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans SemiBold";
  src: local("Open Sans SemiBold"),
    url(../src/assets/fonts/OpenSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato Regular";
  src: local("Lato Regular"),
    url(../src/assets/fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato Light";
  src: local("Lato Light"),
    url(../src/assets/fonts/Lato-Light.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: Open Sans;
  font-size: 28px;
  text-align: start;
}

.RedQueenRed {
  color: #ff5858;
}

p {
  font-family: Open Sans;
  line-height: 2rem;
  text-align: start;
  font-size: 1.1rem;
  color: #5f5656;
  /* margin-bottom: 2rem; */
}

.Button {
  width: 150px;
  /* height: 40px; */
  border-radius: 5px;
  padding: 10px;
  font-family: Open Sans Semibold;
  font-size: 1.2rem;
  background-color: #ff5858;
  color: white;
  text-align: center;
  /* padding-top: 0.6rem; */
  cursor: pointer;
  margin: 20px 0;
  box-shadow: 0 3px 7px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.Button:hover {
  background-color: #ff7b7b;
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
